<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->

<!-- end custom head snippets -->



<!-- Google Adsense -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-7701384888259348",
          enable_page_level_ads: true
     });
</script>



<!-- Favicon -->
<link rel="apple-touch-icon" sizes="180x180" href="/assets/Favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/Favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/Favicon/favicon-16x16.png">
<link rel="manifest" href="/assets/Favicon/site.webmanifest">
<link rel="mask-icon" href="/assets/Favicon/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="/assets/Favicon/favicon.ico">
<meta name="msapplication-TileColor" content="#00aba9">
<meta name="msapplication-config" content="/assets/Favicon/browserconfig.xml">
<meta name="theme-color" content="#ffffff">
